/* Dice */

.dice-container {
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }

  .dice {
    cursor: pointer;
  }

.dice[data-status="locked"] {
  color: grey !important;
}

/* Button */

  #btn {
    height: 2rem;
    font-size: 1rem;
    border-radius: 15rem;
    animation: fontColor 1s infinite;
  }
  #btn[disabled="true"] {
    background-color: gray;
    cursor: not-allowed;
    border: gray solid 0.2rem !important;
    color: white !important;
  }

  #roll-dice{
      display: flex;
      justify-content: center;
  }

/* Table */

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

.score {
    display: flex;
    justify-content: center;
    height: 1.5rem;
    border-bottom: 0.1rem solid white
    animation: fontColor 1s infinite;
    cursor: pointer;
  }
  .score[data-score-status="locked"] {
    cursor: not-allowed;
    color: black !important;
    border-bottom: 0.1rem solid black !important;
  }
