/* Dice */

.dice-container {
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }

  .dice {
    cursor: pointer;
  }

.dice[data-status="locked"] {
  color: grey !important;
}

/* Button */

  #btn {
    height: 2rem;
    font-size: 1rem;
    border-radius: 15rem;
    animation: fontColor 1s infinite;
  }
  #btn[disabled="true"] {
    background-color: gray;
    cursor: not-allowed;
    border: gray solid 0.2rem !important;
    color: white !important;
  }

  #roll-dice{
      display: flex;
      justify-content: center;
  }
